USE [master]
GO
/****** Object:  Database [MyProject(WatchNext)]    Script Date: 9/23/2026 3:33:01 AM ******/
CREATE DATABASE [MyProject(WatchNext)]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyProject(WatchNext)', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MyProject(WatchNext).mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyProject(WatchNext)_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MyProject(WatchNext)_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyProject(WatchNext)].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyProject(WatchNext)]
GO
/****** Object:  Table [dbo].[Actors]    Script Date: 9/23/2026 3:33:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actors](
	[Actor_ID] [int] IDENTITY(1,1) NOT NULL,
	[First_Name] [varchar](255) NULL,
	[Last_Name] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Actors] PRIMARY KEY CLUSTERED 
(
	[Actor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Directors]    Script Date: 9/23/2026 3:33:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directors](
	[Director_ID] [int] IDENTITY(1,1) NOT NULL,
	[First_Name] [varchar](255) NULL,
	[Last_Name] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Directors] PRIMARY KEY CLUSTERED 
(
	[Director_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 9/23/2026 3:33:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[Genre_ID] [int] IDENTITY(1,1) NOT NULL,
	[Genre_Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[Genre_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 9/23/2026 3:33:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[Movie_ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Release_Year] [int] NOT NULL,
	[Director_ID] [int] NOT NULL,
	[Genre_ID] [int] NOT NULL,
	[Actor_ID] [int] NULL,
 CONSTRAINT [PK_Movie] PRIMARY KEY CLUSTERED 
(
	[Movie_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 9/23/2026 3:33:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Review_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Movie_ID] [int] NOT NULL,
	[Review_Text] [nvarchar](max) NULL,
	[Rating_Stars] [tinyint] NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Review_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 9/23/2026 3:33:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_Name] [varchar](20) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Date_Created] [date] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLibrary]    Script Date: 9/23/2026 3:33:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLibrary](
	[Library_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Movie_ID] [int] NOT NULL,
	[Status_Seen] [bit] NOT NULL,
	[Personal_Rating] [tinyint] NULL,
	[Date_Added] [date] NOT NULL,
 CONSTRAINT [PK_UserLibrary] PRIMARY KEY CLUSTERED 
(
	[Library_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Actors] ON 

INSERT [dbo].[Actors] ([Actor_ID], [First_Name], [Last_Name]) VALUES (1, N'Leonardo ', N'Dicaprio')
INSERT [dbo].[Actors] ([Actor_ID], [First_Name], [Last_Name]) VALUES (2, N'Marlon', N'Brando')
INSERT [dbo].[Actors] ([Actor_ID], [First_Name], [Last_Name]) VALUES (3, N'Daveigh', N'Chase')
SET IDENTITY_INSERT [dbo].[Actors] OFF
GO
SET IDENTITY_INSERT [dbo].[Directors] ON 

INSERT [dbo].[Directors] ([Director_ID], [First_Name], [Last_Name]) VALUES (1, N'Christopher', N'Nolan')
INSERT [dbo].[Directors] ([Director_ID], [First_Name], [Last_Name]) VALUES (2, N'Francis', N'Coppola')
INSERT [dbo].[Directors] ([Director_ID], [First_Name], [Last_Name]) VALUES (3, N'Hayao', N'Miyazaki')
SET IDENTITY_INSERT [dbo].[Directors] OFF
GO
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([Genre_ID], [Genre_Name]) VALUES (1, N'Sci-Fi')
INSERT [dbo].[Genre] ([Genre_ID], [Genre_Name]) VALUES (2, N'Crime')
INSERT [dbo].[Genre] ([Genre_ID], [Genre_Name]) VALUES (3, N'Animation')
SET IDENTITY_INSERT [dbo].[Genre] OFF
GO
SET IDENTITY_INSERT [dbo].[Movie] ON 

INSERT [dbo].[Movie] ([Movie_ID], [Title], [Release_Year], [Director_ID], [Genre_ID], [Actor_ID]) VALUES (1, N'Inception', 2010, 1, 1, 1)
INSERT [dbo].[Movie] ([Movie_ID], [Title], [Release_Year], [Director_ID], [Genre_ID], [Actor_ID]) VALUES (2, N'The Godfather', 1972, 2, 2, 2)
INSERT [dbo].[Movie] ([Movie_ID], [Title], [Release_Year], [Director_ID], [Genre_ID], [Actor_ID]) VALUES (3, N'Spirited Away', 2001, 3, 3, 3)
SET IDENTITY_INSERT [dbo].[Movie] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([Review_ID], [User_ID], [Movie_ID], [Review_Text], [Rating_Stars]) VALUES (1, 4, 2, N'movie was too long and too gory!', 3)
INSERT [dbo].[Reviews] ([Review_ID], [User_ID], [Movie_ID], [Review_Text], [Rating_Stars]) VALUES (2, 2, 3, N'This movie has amazing animation!', 4)
INSERT [dbo].[Reviews] ([Review_ID], [User_ID], [Movie_ID], [Review_Text], [Rating_Stars]) VALUES (3, 1, 7, N'Christian Bale is the best batman ever!', 5)
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([User_ID], [User_Name], [Email], [Date_Created]) VALUES (1, N'lange544', N'lange@hotmail.com', CAST(N'2026-01-15' AS Date))
INSERT [dbo].[User] ([User_ID], [User_Name], [Email], [Date_Created]) VALUES (2, N'CWagner', N'CaitlynWagner22@gmail.com', CAST(N'2025-03-02' AS Date))
INSERT [dbo].[User] ([User_ID], [User_Name], [Email], [Date_Created]) VALUES (3, N'DaMan21', N'DMata12@gmail.com', CAST(N'2026-05-27' AS Date))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
USE [master]
GO
